@{
    ViewBag.Title = "Contacto";
}
<div>
    <div class="subtitulo">
        <p>Contacto</p>
    </div>
    <div>
        <img src="~/Content/images/0.jpg" class="img-responsive">
    </div>
</div>


<h3>@ViewBag.Message</h3>

<br>

<address>
    Bogotá, Colombia<br /><br />
    <abbr>Tel:</abbr>
    (+57)3046333219
</address>

<address>

    <strong>E-Mail:</strong> <a href="mailto:zuk4ritass@gmail.com">zuk4ritass@gmail.com</a>
    <br>
    <br>

    <strong>Mis Redes</strong>

    <br>
    <div class="navbar">
        <ul class="redes">
            <li class="icono">
                <a href="https://www.facebook.com/manuel.acero.90" target="_blank">
                    <img src="~/Content/images/face.png" style="width:30px;height:30px;border:0">
                </a>
            </li>
            <li class="icono">
                <a href="https://www.instagram.com/elchucarozukaro/" target="_blank">
                    <img src="~/Content/images/inst.png" style="width:30px;height:30px;border:0">
                </a>
            </li>
            <li class="icono">
                <a href="https://www.behance.net/mracero1074a4" target="_blank">
                    <img src="~/Content/images/beh.png" style="width:30px;height:30px;border:0">
                </a>
            </li>
            <li class="icono">
                <a href="https://www.linkedin.com/in/manuel-acero-8088b7113/" target="_blank">
                    <img src="~/Content/images/in.png" style="width:30px;height:30px;border:0">
                </a>
            </li>
        </ul>
    </div>
</address>

